@page "/catalog/{categoryId:guid}"
@inherits ReactiveComponentBase<CatalogViewModel>
@inject CatalogViewModel CatalogViewModel

<PageTitle>Catalog</PageTitle>

<h1>@ViewModel!.CategoryName</h1>

<h2>Select Category</h2>

@if (ViewModel!.ProductListViewModel == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <ProductListView ProductListViewModel="ViewModel!.ProductListViewModel"></ProductListView>
}

@code
{
    [Parameter]
    public Guid CategoryId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewModel = CatalogViewModel;
        await Task.CompletedTask;
    }

    protected override async Task OnParametersSetAsync()
    {
        ViewModel!.CategoryId = CategoryId;
        await Task.CompletedTask;
    }
}