@page "/"
@using EFO.WebUi.Data;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject ProtectedLocalStorage LocalStorage
@inject IOrderService OrderService
@inject IToastService toastService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?"/>

<button class="btn btn-danger" @onclick="@(() => toastService.ShowError("I'm an ERROR message"))">Error Toast</button>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var orderId = Guid.Parse("22222222-1111-1111-1111-111111111111");
        await LocalStorage.SetAsync("orderId", orderId);
    }
}
