@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject IToastService ToastService
@inject IErrorsSource ErrorsSource

<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="8"
                ShowProgressBar="@true"
                ShowCloseButton="@true"
                MaxToastCount="3">
    
</BlazoredToasts>

<PageTitle>EFO.WebUi</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override void OnInitialized()
    {
        ErrorsSource.Errors.Subscribe(error =>
        {
            ToastService.ShowError(error);
        });
    }
}
