@using EFO.WebUi.Data
@inject IProductCategoriesService ProductCategoriesService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EFO.WebUi</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="container-fluid nav-scrollable">
    <div class="row">
        <nav>
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span data-feather="home" class="align-text-bottom"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <a>Products</a>
                            @if (_categories != null)
                            {
                                <ul class="nav flex-column">
                                    @foreach (var category in _categories)
                                    {
                                        var href = $"products?category={category.Name}";
                                        <li class="nav-item">
                                            <NavLink class="nav-link" href="@href">
                                                @category.Name
                                            </NavLink>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>

@code {
    private ProductCategoryDto[]? _categories;

    protected override async Task OnInitializedAsync()
    {
        await LoadCategoriesAsync();
    }

    private async Task LoadCategoriesAsync()
    {
        _categories = await ProductCategoriesService.GetCategoriesAsync(null);
    }

}