<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EFO.WebUi</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="container-fluid nav-scrollable" @onclick="ToggleNavMenu">
    <div class="row">
        <nav>
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span data-feather="home" class="align-text-bottom"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="counter">
                            <span class="oi oi-plus" aria-hidden="true"></span> Counter
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="fetchdata">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="products">
                            <span class="oi oi-browser" aria-hidden="true"></span> Products
                        </NavLink>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="products/passive">
                                    Passive xx
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="products-semiconductors">
                                    Semiconductors
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="products?category=motors">
                                    Motors
                                </NavLink>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}